table {
    border-collapse: collapse;
  }
  
  tr th {
    background-color: rgb(142, 224, 156);
  }
  
  thead th {
    background-color: rgb(237, 168, 40);
    text-align: center;
    color:rgb(108, 101, 101);
    font-size: 25px;
  }
  
  .titulo td:nth-child(2) {
  text-align: left;
  }
  
  td {
    border: solid 1px rgb(108, 101, 101);
    text-align:right;
    width: 100px;
  }
  
  .fila-azul {
    margin-left: 103px; 
  }
  
  .fila-azul tr td {
    border: solid 1px black;
  }
  
  .azul {
    background-color: rgb(55, 144, 216);
    text-align:left;
  }